@charset "utf-8";
/* CSS Document */

body {
  font-family: Arial;
  font-size: 0.8rem;
  color: #606060;
}

h3 {
  margin: 0.4em;
  color: #006359;
  font-size: 1.2rem;
  font-weight: 800;
}

i {
  color: #36404a;
  align-items: center;
}

hr.solid {
  margin: 0.3em;
}

.band-search-bar {
  background-color: #36404a;
}

.search-bar {
  background-color: #4b535e;
  margin: 1em;
  border: 0em;
  border-radius: 1em;
  line-height: 1.4em;
}

/* everything under the search bar */
.page-content {
  padding-top: 0.4em;
  padding-left: 0em;
  padding-right: 0em;
  background-color: #16aa9c;
}

/* Tabs for the different tickets */
.tab-ticket {
  border: none;
}

.tab-ticket .ticket-links {
  color: #087D74;
  background-color: #0E978D;
  cursor: pointer;
  padding: 0.5em;
  width: 16em;
  font-size: 1.2rem;
  font-weight: 600;
}

.tab-ticket button {
  color: inherit;
  background-color: inherit;
  border: none;
}

.tab-ticket .ticket-links.active {
  color: #16aa9c;
  background-color: #F4F8F7;
}

.tab-ticket i {
  color: inherit;
}
.tab-ticket .ticket-links.active i {color: #006359;}

.tab-ticket .ticket-add-new {
  color: #9BC6BD;
  background-color: #0C8B80;
}

/* Tabs of the contents of a ticket */
.tab-content {
  overflow: hidden;
  background-color: #f4f8f7;
}

.tab-content button {
  margin-right: -1em;
  color: #b9b9b9;
  background-color: #f2f2f2;
  border: 1px solid #b9b9b9;
  float: inline-start;
  outline: none;
  cursor: pointer;
  padding: 0.5em;
  width: 10em;
  font-size: 1.0rem;
  font-weight: 600;
}

.tab-content button:hover {
}

.tab-content button.active {
  color: #a3a3a3;
  background-color: #fff;
}

/* The ticket */
.ticket {
  display: none;
  padding: 2em;
  background-color: #f4f8f7;
  border: 1px solid #f4f8f7;
  border-top: none;
}

/* The ticket contents */
.ticket-content {
  display: none;
  padding: 0.6em 1.2em;
  background-color: #fff;
  border: 1px solid #b9b9b9;
  border-radius: 0em 0.5em 0.5em 0.5em;
}

/* Message */
@media (min-width: 992px){
  #message {
    height: 50.4em;
  }

  #contact-info {
    height: 50.4em;
  }
}

.message-content {
  margin: 0.4em;
  padding: 1em;
  color: #5B5F62;
  background-color: #F4F8FB;
  border: 1px solid #b9b9b9;
  border-radius: 0.5em;
}

.message-content i {
  color:#ffffff;
}

#message-date {
  color: #9DA1A4;
}

.message-action {
  margin: 0.4em;
  padding: 0.6em;
  color: #ffffff;
  background-color: #16aa9c;
  border: none;
  border-radius: 0.1em;
}

#comment {
  padding-left: 3em;
  padding-right: 3em;
  font-weight: 600;
}

.fa-window-minimize {
  color: #b9b9b9;
}

#faq {
  border-bottom: none;
  border-radius: 0em 0.5em 0em 0em;
}

@media (min-width: 1754px){
  #faq {
    height: 50.4em;
    border: 1px solid #b9b9b9;
    border-radius: 0em 0.5em 0.5em 0.5em;
  }
}

.right-col > div {
  margin: 1em;
  padding: 1em;
}

.edit-btn-group {
  color: #606060;
  font-weight: 800;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 0.4em;
}

.edit-btn-group button {
  background-color: inherit;
  border: none;
  color: #606060;
  font-weight: 800;
}

#edit {
  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

#change-status {
  border-left: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

#merge {
  border-right: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
}

#add-to-faq {
  border-left: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
}

.follow-up {
  align-items: center;
  font-weight: 800;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-right: none;
  border-radius: 0.4em 0em 0em 0.4em;
}

/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
/* Hide the browser's default checkbox */
.follow-up input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  margin-right: 1em;
  height: 1em;
  width: 1em;
  background-color: #eee;
  border-radius: 0.2em;
}

.checkmark:hover {
  background-color: blue;
}

#follow-up-date {
  font-weight: 400;
}

#schedule-follow-up {
  padding: 1em;
  padding-left: 1.2em;
  color: #ffffff;
  background-color: #16aa9c;
  border: none;
  border-radius: 0em 0.4em 0.4em 0em;
  height: 4em;
  font-weight: 600;
}

#schedule-follow-up>.fa {
  color: #ffffff;
}

.fa-tag {
  margin-right: 1em;
  color: #b9b9b9;
}

#add-tags-input {
  border: none;
  color: #9DA1A4;
}

.ticket-specs {
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 0.4em;
}

.ticket-specs h3 {
  padding-bottom: 1em;
  font-size: 1.2em;
  font-weight: 800;
}

.spec-label {
  font-size: 0.8rem;
  font-weight: 800;
}

.faq-card {
  margin: 1em;
}

.search-faq {
  margin: 1em;
  border: 1px solid #b9b9b9;
  border-radius: 1em;
  line-height: 1.4em;
}

.search-faq input {
  border: 0em;
  color: #36404a;
  font-size: 0.8em;
}

.fa-search {
  padding-top: 0.3em;
  color: #b9b9b9;
}

.faq-answer {
  margin-left: 0.8em;
  margin-right: 4em;
}

.fa-chevron-right {
  padding-right: 1em;
  color: #8FB3AF;
}